<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.secret.booklist60">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="d7a8a4fc5a9b2be24bbff64477fc2149" />

        <activity android:name=".UI.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="doctorappscheme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.RegistActivity" />
        <activity android:name=".UI.LoginActivity" />
        <activity
            android:name=".UI.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".UI.HistoryRecordActivity" />
        <activity android:name=".UI.SettingActivity" />
        <activity android:name=".UI.SearchActivity" />
        <activity
            android:name=".UI.BookDetailActivity"
            android:launchMode="singleTask"
            android:theme="@style/custom_dialog" />
        <activity
            android:name=".UI.FeedBackActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".UI.ChangePWActivity" />
        <activity android:name=".UI.PingLunActivity" />
        <activity android:name=".UI.FollowActivity" />
        <activity android:name=".UI.FansActivity" />
        <activity android:name=".UI.MyInteractionActivity" />
        <activity android:name=".UI.MyPrivateConversationActivity" />
        <activity android:name=".UI.SelectKindsActivity" />
        <activity android:name=".UI.AboutusActivity" />
        <activity android:name=".UI.FindPwActivity" />
        <activity
            android:name=".UI.UserDetailActivity"
            android:launchMode="singleTask" />
        <activity android:name=".UI.ShowBigPic" />
        <activity
            android:name=".UI.AddQuestionActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".UI.SelectBookActivity" />
        <activity
            android:name=".UI.ChatActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".UI.AddShareActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".UI.ReceiveComment" />
        <activity android:name=".UI.GroundPinLunActivity" />
        <activity android:name=".UI.LikeBookActivity" />
        <activity android:name=".UI.MyPostActivity" />
        <activity android:name=".UI.OthersCommentActivity" />
        <activity android:name=".UI.MoreCommentActivity" />
        <activity android:name=".UI.newBookListActivity"/>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>

                <!-- ※这里需要将1105785901改成你在腾讯申请后得到的AppId -->
                <data android:scheme="tencent1105898198" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore" />
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent你的AppId" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".UI.HitGroundActivity" />
        <activity android:name=".UI.BookListDetailActivity"></activity>
    </application>

</manifest>